<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiyo407.literature.article.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aiyo407.literature.article.entity.Article">
    <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="body" property="body" />
        <result column="author" property="author" />
        <result column="dynasty" property="dynasty" />
        <result column="first_letter" property="firstLetter" />
        <result column="category" property="category" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
