<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiyo407.literature.english.mapper.EnglishMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aiyo407.literature.english.entity.English">
    <result column="id" property="id" />
        <result column="word" property="word" />
        <result column="pronunciation" property="pronunciation" />
        <result column="part_of_speech" property="partOfSpeech" />
        <result column="chinese" property="chinese" />
    </resultMap>

</mapper>
